<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <title>Error page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
</head>
<body>
<div class="container">
    <div th:replace="fragments/components :: alert (type='danger', message=${errorMessage})">Error: Error</div>
	<div class="row error-container">
		<h1 class="fail-message" th:text="#{message.pageError}">Fail</h1>
		<a class="link" th:href="@{/}"><span th:text="#{message.findMaze}">message.findMaze</span></a>
	</div>
    <div th:replace="fragments/layout :: footer"></div>
</div>
</body>
</html>